@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Ultra');

/* ==========================================================================
TOP Header
========================================================================== */
a {
    text-decoration: none;
}

.c{
	clear: both;
}

body {
    padding: 0;
    margin: 0;
}

.banner {
	background-image: url("../img/Spherical-polygon-HD-wallpaper-1920x1080.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 100%;
	margin: auto;
}

.menu-line .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-line {
	background-color: rgba(35,39,49,0);
	padding: 0 15%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 9999;
}

.menu {
	float: right;
	list-style:none;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
    height: 66.67px;
}

.menu li a {
    color:#3d78af;
}

.menu li a:hover, footer a:hover {
    color: #E5473A;
}

.menu li {
	float: left;
	margin-left: 10px;
    padding: 5px;
	font-size: 17px;
	font-family: 'Helvetica Neue', monospace;
	border: 1px solid white;
}

.header {
    position: relative;
    top: 100px;
    padding: 25px 40px;
    font-family: 'Open Sans';
    text-align: center;
	min-height: 500px;
	color: white;
}

.header h1{
	font-size: 76px;
	font-family: 'Nunito', 'Open Sans';
}

.header h2 {
    margin-top: -20px;
	font-size: 24px;
    font-family: 'Merriweather', 'Open Sans';
    margin-bottom: 10px;
}

.actions {
	position: relative;
	top: 100px;
    text-align: center;
}

.actions a {
  display: inline-block;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #E5473A;
  font-family: 'Merriweather', 'Open Sans';
}

.actions a:hover,
.actions a:focus,
.actions a:active {
  background: #F24B3D;
}

.worldwide {
    background: #E5473A;
}

.empty {
	height: 40px;
	box-shadow: 0px 4px 8px #777;
}

#trending {
	height: auto;
	width: 80%;
	margin: auto;
}

#trending h1 {
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 28px;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px white, 0 3px #777;
}
.row img {
	margin: auto;
	width: 500px;
}

.twitter-tweet {
    box-shadow: 1px 1px 1px #ddd;
    border-radius: 7px;
}

.twitter-tweet:hover {
    box-shadow: 1px 2px 7px #888;
}

.column div p {
	text-align: center;
	border: 1px solid;
    margin-bottom: -10px;
    padding: 5px 10px;
    border-radius: 0 5px 5px;
}

.column div a {
	color: #1084ce;
}

.column div a:hover {
	color: #1084ce;
}

.column div a:visited {
	color: #e5473a;
}

.row .small {
	width: 300px;
}

.active {
	border: 1px solid #E5473A !important;
}

.top-scroll {
	color: #eeeeee;
    background-color: #333333;
    opacity: 0.6;
    position: fixed;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    right: 50px;
    bottom: 50px;
    z-index: 1030;
    display: none;
}

.top-scroll:hover {
	opacity: 0.7;
	background: #F24B3D;
}

#map {
	height: 600px;
	width: 100%;
}

footer a {
	color: white;
}

footer div {
	text-align: center;
}

footer {
	background: #132536;
	padding: 40px 30px;
	color: white;
	font-family: courier;
}

footer > p {
	align: left;
	font-size: smaller;
}

footer hr {
	height: 0.012px;
	width: 40%;
	margin: auto;
}

@media only screen and (max-width: 720px){
    .menu-line {
        padding: 15px;
    }
}

@media only screen and (max-width: 600px){
	hr {
		width: 90%;
	}
}

/* The switch - the box around the slider */
.switch {
	margin-top: 7px;
	float; right;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}